.App {
  /* text-align: center; */
  font-family:"open_sans_hebrewregular", "alefregular",arial,"Times New Roman";
  color:rgb(14, 11, 11);
  overflow:auto; 
  width: 100%; 
  font-size: 10px;
}


@media (max-width: 400px) {
  .facet_sidebar {
    display: none;
  }
}



